body 
{ background-color: darkorange; }

 h1 
 { color:rgb(54, 53, 66); background-color: orange; }
 h2
 {
     color: rgb(255, 255, 255);
 }

  #show_sketch { float:right; }
  
  canvas { border:5px solid black;
     border-radius:20px; 
     animation-name: example; 
     animation-duration: 4s; 
     margin-top: 50px;
      animation-iteration-count: infinite; }
      @keyframes example 
      { from {box-shadow: 1px 1px 38px white;}
       to 
       {box-shadow: 1px 1px 38px rgb(127, 127, 163);} }
        p 
        { padding-top:10px; font-size:25px; }